/* Eleanor Boyd
WEB 150 - Assignment 6
Miles Per Gallon Calculator */

html {
    background-color:#2b2312;
}

#page {
    background-color:#f4ead5;
    border:5px ridge #f4ead5;
    max-width:600px;
    height:750px;
    margin:auto;
    padding:10px;
    
}

h1 {
    background-color:#fc9d9a;
    border:5px outset #fc9d9a;
    margin:20px;
    padding:20px;
}

h2 {
    background-color:#dafbf8;
    border:5px outset #dafbf8;
    margin:20px;
    padding:20px;
}

#mpgCalculator {
    width:200px;
    margin:auto;
}

#milesDriven {
    padding:5px;
    border:3px inset #effab5;
    width:175px;
    font-weight:bold;
}

#gallonsUsed {
    padding:5px;
    border:3px inset #effab5;
    width:175px;
    font-weight:bold;
}

#mpg {
    padding:5px;
    border:3px inset #effab5;
    width:175px;
    background-color:#d4d4d4;
    font-weight:bold;
}

#calculateMPG {
    margin:10px;
    background-color:#daedfb;
}

#clearForm {
    margin-left:10px;
    background-color:#daedfb;
}

footer {
    text-align:center;
    color:#f4ead5;
    padding:10px;
}